.doc {
  background: #222;
}

.svg {
  margin-left: 200px;
  margin-top: -150px;
}
.c{
  display: flex;
  margin-left: 300px;
 
}
.o1{
  display: flex;
  margin-left: 500px;
  margin-top: -165px;
}
.n{
  display: flex;
  margin-left: 710px;
  margin-top: -490px;
}
.r{
  display: flex;
  margin-left: 850px;
  margin-top: -150px;
}
.a{
  display: flex;
  margin-left: 1050px;
  margin-top: -490px;
}
.d{
  display: flex;
  margin-left: 1250px;
  margin-top: -510px;
}
.o2{
  display: flex;
  margin-left: 1400px;
  margin-top: -490px;
}